/**
 * Базовые стили слайдера
 */

.tvist {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  &__container {
    display: flex;
    will-change: transform;
    
    transition-duration: 0ms;
    transition-delay: 0ms;
    
    // GPU acceleration
    transform: translate3d(0, 0, 0);
  }
  
  &__slide {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    
    // Performance optimization: рендерим только видимые слайды
    content-visibility: auto;
    contain-intrinsic-size: auto 500px;
  }
  
  // Вертикальная ориентация
  &--vertical {
    .tvist__container {
      flex-direction: column;
    }
  }
  
  // Состояние dragging
  &--dragging {
    .tvist__container {
      transition: none !important;
      cursor: grabbing;
      user-select: none;
    }
    
    .tvist__slide {
      pointer-events: none;
    }
  }
  
  // Состояние disabled
  &--disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

