/**
 * Velosiped Styles
 */

:root {
  --velosiped-speed: 300ms;
  --velosiped-gap: 0px;
}

.velosiped {
  position: relative;
  overflow: hidden;
  
  &__container {
    display: flex;
    transition: transform var(--velosiped-speed) ease-out;
    will-change: transform;
  }
  
  &__slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    content-visibility: auto;
  }
}

